@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

body{
    margin: 0;
    display: flexbox;
}
.navegacion{
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.navegacion-hr{
    width: 100%;
    background-color: var(--blanco);
}
.hdr{
    background: url(../img/slide1.jpg);
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;

}
.rz{
    background: url(../img/bg-features.png);
}
.navi{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--negro);
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
        padding: 1rem;
        color: #fff
}
/*Resolución tablet*/
@media screen and (min-width: 768px){
}
.nav a{
    text-decoration: none;
    color: #fff;
}
.item{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: #0B3860;
    width: 100%;
}
.navbar-button{
    background-color:transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}
.logo img{
    height: 3rem;
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 40%;
    max-width: 200px; 

}
.logo i{
    color: var(--blanco);
    font-size: 2rem;
}
.pf{
    position:absolute 2rem;
    top: 20rem;
}
.text{
    margin-top: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.199);
}
.pf2{
    text-align: left;
    margin-left: 100px;
    margin-top: 60px;
    width: 500px;
    height: 200px;
}
.img{
    float: right;
    margin-left: 900px;
    width: 300px;
    height: 350px;
    margin-top: -250px;
}
.hnv{
    height: 500px;
    width: 200px;
    margin-top: -120px;
}
.sc2{
    font-family: 'Marcellus', serif;    

    text-align: center;
}

#features{
    background: url(../img/bg-features.png);
    color: white;
    padding-top: 1rem;
    margin-top: 20px;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}
.feature-blue{
    background-color: #00325eae;
}
.feature-black{
    background-color: rgba(0,0,0,0.59);
}
.llcq{
    height: 500px;
    width: 500px;
    display: flex;
}
/*Resolución notebooks*/
@media screen and (min-width: 1024px){
    nav{
        display: flex;
        flex-direction: row; /*cambiamos la disposición de los elementos*/
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }
    .logo{
        padding: 1rem;
    }
    .logo img{
        width: 100%;
        max-width: 180px;       
    }
    .logo i{ /*ocultamos el ícono bars del menú hamburguesa*/
        display: none;
    } 
    .navegacion{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .navegacion-hr{ /*ocultamos la barra de división*/
        display: none;
    }
    .navbar-button{
        background-color:var(--azuloscuro);
    }       
}
/*Resolución notebooks*/
@media screen and (min-width: 1308px){
    
}


/*Estilos Login*/
.login{
    background-image: url(../img/login_2.jpg);
    background-repeat: no-repeat;
    width: 500px;
    background-size: cover;
    font-family: 'Marcellus', serif;
    color: #fff;
    font-size: 1.3em;
}
.fm{
    margin-top: 40px;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    margin-left: 450px;
    background: linear-gradient(to right, rgba(200, 224, 243, 0.9), rgba(153, 86, 54, 0.9));
    border-radius: 10px;
}
.img_l{
    width: 270px;
    padding: 14px;
}
.inp{
    display: inline-block;
    height: 250px;
    padding-top: 25px;
    margin-top: 50px;
    margin-left: 110px;
}
.logo_l{
    width: 200px;
}
.up7{
    margin-top: 25px;
    height: 97px;
}
input{
    font-size: xx-large;
    border-radius: 6px;
}
.enviar{
    width: 390px;
    font-family: 'Marcellus', serif;
    color: #fff;
    font-size: 1.3em;
    background-color: #000;
}

.inp p{
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
}
.inp a{
    text-decoration: none;
    color: #000;
    font-size: 0.8em;
}
/*Estilos Dashboard*/
.das{
    background-image: url(../img/das_1.jpeg);
    background-repeat: no-repeat;
}
/*datos dashboard*/
.padreD{
    width: 100%;
    height: 100vh;
    background-image: url(../img/das_1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    grid-template-columns: 20% auto;
    font-family: 'Marcellus', serif;
}
.Lhotelia{
    width: 230px;
    height: 100%;
    background-color: var(--azulnegro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.h3{
    color: #fff;
    font-size: 1.2em;
}
.imgLh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    height: auto;
    padding: 20px;
    align-items: center;
    color: var(--blanco);
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
}
.imgLh a{
    text-decoration: none;
    color:#fff;
    font-size: 1.3em;
}
.inputt{
    width: 250px;
    height: 20px;
}
.lista{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.lista a{
    text-decoration: none;
    color: #fff;
}
.linksesion{
    text-decoration: none;
    color: #fff;
}
.crsesion{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #1c1e27;
    text-decoration: none;
    color: #fff;
}
.contform{
    position: absolute;
    width: 1000px;
    height:0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.contdatos{
    position: relative;
    display: flexbox;
    margin-left: 350px;
    width: 1000px;
    height:620px;
    padding: 30px;
    background-color: rgba(225, 225, 225, .8);
    border-radius: 8px;
}
.contdatos h1{
    grid-column: 1/ 3;
    text-align: center;
}
.botonesf{
    width: 150px;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;
    background-color: var(--azuloscuro);
    color: var(--blanco);
}
.botonesf i{
    font-size: 1.8rem;
    margin: 5px 10px;
}
.cambiarctñ{
    background-color: #000;
    color: #fff;
    font-size: 1.5px;
    width: 150px;
    padding: 10px;
}
.infouser{
    position: relative;
    width: 100px;
    height:10px;
}
.datos{
    margin-left: 200px;
    margin-top: -210px;
    display: grid;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 550px;
}
.datos label{
    color: #000;
}
.edi{
    width: 180px;
    background-color: #000;
    height: 40px;
    color: #fff;
    border-radius: 5px;
}
.ctñ{
    width: 100%;
    height: 100%;
    grid-template-columns: 45% auto;
}
.ctñ label{
    color: #000;
    display: inline-block;
}
.chx{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    padding: 20px;
}
